body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
    min-height: 100vh;
}

p {
  display: block;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

header, footer {
    width: 100%;
    padding: 10px;
    background-color: #cc2020;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0px;
}

h1 {
  display: block;
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
}

h3 {
  display: block;
  font-size: 1.5em;
}

table {
  display: block;
  border-collapse: collapse;
  text-align: center;
  padding: 0px;
  margin-bottom: 15px;
}
  
table th, tr, td {
  border: 1px solid #000;
  background-color: #ffdcdc;
  padding: 10px 20px;
}
   
table td {
  background-color: #fcecec;
}

li {
  list-style: none;
}

.submit-button {
  font-size: 15px;
  padding: 5px;
}
   
.notice {
  background-color: #ccf;
  padding: 5px;
}

.post-detail {
  width: 350px;
  height: 30px;
  font-size: 18px;
} 

.post-content {
  width: 350px;
  height: 200px;
}